In [6]:
from bokeh.plotting import figure, output_file, show

In [3]:
import pandas

In [15]:
from bokeh.plotting import figure, output_file, show

# prepare some data
x = [1, 2, 3, 4, 5]
y = [6, 7, 2, 4, 5]

# output to static HTML file
output_file("lines.html")

# create a new plot with a title and axis labels
p = figure(title="simple line example", x_axis_label='x', y_axis_label='y')

# add a line renderer with legend and line thickness
p.line(x, y, legend="Temp.", line_width=2)

# show the results
show(p)

In [30]:
from bokeh.plotting import figure, output_file, show
import pandas as pd
pd.read_csv("_forestry.csv")

   Quarter  Natural Forests  Plantation Forests
0   2000Q1               12                4531
1   2000Q2               15                4972
2   2000Q3               16                4901
3   2000Q4               11                4821
4   2001Q1               11                4538
5   2001Q2               15                5192
6   2001Q3               15                5502
7   2001Q4               13                5385
8   2002Q1               14                4804
9   2002Q2               11                5634
10  2002Q3               10                5796
11  2002Q4                9                5823
12  2003Q1                8                5183
13  2003Q2                8                5694
14  2003Q3               10                5409
15  2003Q4                8                4934
16  2004Q1                6                4842
17  2004Q2                9                4906
18  2004Q3                6                5205
19  2004Q4                5                4832
20  2005Q1                5                4333
21  2005Q2                6                4892
22  2005Q3                6                5024
23  2005Q4                6                4754
24  2006Q1                7                4133
25  2006Q2                5                4884
26  2006Q3                5                5184
27  2006Q4                5                5140
28  2007Q1                3                4688
29  2007Q2                7                5282
30  2007Q3                4                5341
31  2007Q4                6                4988
32  2008Q1                2                4776
33  2008Q2                4                4776
34  2008Q3                6                5182
35  2008Q4                2                4652
36  2009Q1                5                4238
37  2009Q2                1                5344
38  2009Q3                4                5752
39  2009Q4                4                5401
40  2010Q1                5                5446
41  2010Q2                5                6252
42  2010Q3                5                6334
43  2010Q4                4                6356
44  2011Q1                4                6091
45  2011Q2                4                6861
46  2011Q3                3                6749
47  2011Q4                5                6333
48  2012Q1                3                6028
49  2012Q2                3                7307
50  2012Q3                4                6689
51  2012Q4                3                7287
52  2013Q1                5                6747
53  2013Q2                6                7557
54  2013Q3                7                7924

In [29]:
df = pd.read_csv("_forestry.csv")

In [41]:
p=figure(width=500, height=250, x_axis_type="datetime", sizeing_mode='stretch_both')

SyntaxError: positional argument follows keyword argument (<ipython-input-41-6eabf94750ab>, line 1)

In [38]:
p.line(df["Plantation Forests"],df["Natural Forests"], color="Blue", alpha=0.5)

GlyphRenderer(id='2546', ...)

In [39]:
output_file("Timeseries.html")
show(p)